<div class="bg-gray-800 ml-10 mr-10 rounded-2xl shadow-2xl" style="text-align: center; padding: 2rem; ">
    
  <h1 class="text-5xl m-5">Report It!</h1>

    <!-- @if (capturedImage) {
        <div  style="margin-top: 2rem;">
            <h3>Captured Image:</h3>
            <img [src]="capturedImage?.imageAsDataUrl" [alt]="'Captured photo'" style="max-width: 100%; height: auto;" />
            <button (click)="reset()">Reset</button>
        </div>
        
    }
    @else {
        <webcam 
      [trigger]="triggerObservable" 
      (imageCapture)="handleImage($event)">
    </webcam>

    <button (click)="triggerSnapshot()" style="margin-top: 1rem;">
      📸 Capture Photo
    </button>
    } -->
   
     <app-audio-recorder></app-audio-recorder>
   
     <!-- @if(lat()!=0){
      <app-googlemap [lat]="lat()" [lng]="lng()" ></app-googlemap>
    } -->
    

</div>
    