<div class="footer">
  <!-- <ngxui-grid-background class="grid-bg"></ngxui-grid-background> -->
  <om-gridpattern class="grid-bg">
    <div class="footer-content">
      <div class="footer-left">
        <h2>SafeHaven</h2>
        <p>Remembering those we've lost. Empowering those who survive.</p>
      </div>

      <div class="footer-links">
        <h4>Quick Links</h4>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/request">Request Help</a></li>
          <li><a routerLink="/help">Donate / Help</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>

      <div class="footer-social">
        <h4>Follow Us</h4>
        <div class="icons">
          <a href="#"><i class="fab fa-instagram">Instagram</i></a>
          <a href="#"><i class="fab fa-twitter">Twitter</i></a>
          <a href="https://github.com/sambodhi7/SafeHaven">Github<i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>© 2025 SafeHaven. All rights reserved.</p>
    </div>
  </om-gridpattern>
</div>
